
body{
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    background-color: #f7f7ee;
    color: #4e7c4d;
}

.heading-container{
    position:fixed;
    background-color:#dddddd;
    display: inline-block;
    height: 6rem;
    width:100%;
    left: 0rem;
}

.headings{
    display: inline-block;
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 10rem;
}

.header-link{
    margin-left: 3rem;
    color: #4e7c4d;
    text-decoration: none;
}

.header-link:hover{
    color: #84a9ac;
}

.profilePicDiv{
    display: inline-block;
    position: relative;
    left: -25rem;
}

.myProfilePic{
    height: 75px;
    width: 75px;
    border-radius: 10rem;
    margin-top: .5rem;
}

.first-container{
    margin:0;
    background-color: #eaeff1;
    text-align: center;
}

.myDivName{
    margin-top: 12rem;
}

#banwariName{
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

#softwareEngineer{
    font-size: 20px;
    color: #4e7c4d;
}

#cloudOne{
    position: relative;
    top: 12rem;
    left: 25rem;
}

#cloudTwo{
    position: absolute;
    left: 20rem;
}

#mountain{
    position: relative;
}

hr{
    border-style: dotted none none;
    border-width: 5px;
    color: #99b898;
    width: 5%;
}

.profile{
    position: relative;
    width: 35%;
    margin: 6rem auto 6rem auto;
}

.skills{
    margin: 6rem auto 8rem auto;
    width: 50%;
}

.skill-row{
    margin: 6rem auto 6rem auto;
}

p{
    color: black;
    font-family: 'Montserrat', cursive;
    font-variant: normal;
}

.images{
    height:30%;
    width: 30%;
    border-radius: 10rem;
    margin-top: 0rem;
    float: left;
    margin: 2rem;
}

.devopsImage{
    height: 128px;
}

.textDiv{
    width: 60%;
    margin-left: 25rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.contact-me{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.contactMeDiv{
    width: 35%;
    height: 50%;
    position: relative;
    margin: 2rem auto 10rem auto;
    text-align: center;
}

.contactMeBtn{
    position: relative;
    top: 40px;
    color: black;
    background-color: #12947f;
    padding: .7rem 2.5rem;
    text-decoration: none;
    border-radius: 20px;
}

.contactMeBtn:hover {
    background: #84A9AC;
    border: solid #99C624 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.bottom-container{
    background-color: #eaeff1;
    height: 10rem;
}

.connectLink{
    padding-top: 3rem;
    margin-bottom: 2rem;
    width: 50%;
    margin-left: 20rem;
}

.footer-link{
    margin-left: 8rem;
    color: #4e7c4d;
    text-decoration: none;
}

.footer-link:hover{
    color: #84a9ac;
}









